.jumbotron {
    background-image: linear-gradient(rgba(42, 196, 106, 0.6), rgba(0, 0, 0, 0.6)), url("https://www.dropbox.com/s/kt8310ja0q8mtzg/weapons.jpg?dl=0");
    background-size: cover;
    background-position: bottom;
  }